<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MilkCRM.com, <%= @user.name %></h1>
    <p>
      You have a meeting set up through MilkCRM,
      your username is: <%= @user.name%>.<br>
    </p>
    <p>
    </p>
    
    <p>You have an appointment on MilkCRM! Have a great day!</p>
  </body>
</html>